@*数据展示的公用视图*@
@model rui.pagerBase
@{ string ctrl = ViewContext.RouteData.Values["controller"].ToString(); }
<input type="hidden" class="pagerinfo" data-rowcount="@Model.RowCount" data-pagesize="@Model.PageSize"
       data-pageindex="@Model.PageIndex" data-pagecount="@Model.PageCount"
       data-orderfield="@Model.OrderField" data-orderway="@Model.OrderWay" />
<table>
    <thead>
        <tr>
            @foreach (System.Data.DataRow row in Model.showColumn.Rows)
            {
                string colName = row["fieldCode"].ToString();
                if (row["isOrder"].ToString() == "True")
                {
                    <th data-option="@row["optionValue"]" data-field="@row["fieldCode"]" data-order="@Model.OrderWay">@row["fieldName"]@Html.orderColumn(Model.OrderField, Model.OrderWay, row["fieldCode"].ToString())</th>
                }
                else
                {
                    <th data-option="@row["optionValue"]">@row["fieldName"]</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.dataTable.Rows.Count; i++)
        {
            string rowID = Model.dataTable.Rows[i]["rowID"].ToString();
            string keyCode = Model.dataTable.Rows[i][Model.keyField].ToString();
            string userID = Model.dataTable.Rows[i]["userID"].ToString();
        <tr data-code="@keyCode">
            @foreach (System.Data.DataRow row in Model.showColumn.Rows)
            {
                string colName = row["fieldCode"].ToString();
                if (colName == "操作")
                {
                    <td class="opRow">
                        @Html.ActionLink("详情", "Detail", new { rowID = rowID }, new { data_show = rui.privCtl.isPriv(ctrl, rui.privCtl.eOp.Detail), @class = "showDialog" })
                        @Html.ActionLink("修改", "Update", new { rowID = rowID }, new { data_show = rui.privCtl.isPriv(ctrl, rui.privCtl.eOp.Update), @class = "showDialogR" })
                        @Html.ActionLink("删除", "Delete", new { rowID = rowID }, new { data_show = rui.privCtl.isPriv(ctrl, rui.privCtl.eOp.Delete), @class = "listDelete" })
                        @Html.ActionLink("改变新闻状态", "ChangeState", new { rowID = rowID }, new { data_show = rui.privCtl.isPriv(ctrl, rui.privCtl.eOp.Update), @class = "listOp", data_msg = "确认改变？" })
                    </td>
                }
                else if (colName == "userID")
                {
                    <td>
                        @db.bll.NN_user.getModelByuserID_NonDc(userID).userName.ToString()
                    </td>
                }
                else if (colName == "status")
                {
                    if (Model.dataTable.Rows[i][colName].ToString() == "0")
                    {
                        <td>正常</td>
                    }
                    else
                    {
                        <td>封禁</td>
                    }
                }
                else if(colName == "coverPic")
                    {
        <td><img style="width:30px;height:25px;" src="data:jpg/jpeg;base64,@Convert.ToBase64String((byte[])Model.dataTable.Rows[i][colName])" alt="图像"></td>
                    }
                else
                {
                    <td>@Model.dataTable.Rows[i][colName]</td>
                }
            }
        </tr>
        }
        @if (Model.sumRow.Count > 0)
        {
            <tr class="sumRow">
                @foreach (System.Data.DataRow row in Model.showColumn.Rows)
                {
                    string colName = row["fieldCode"].ToString();
                    if (colName == "序号")
                    {
                        <td>汇总</td>
                    }
                    else if (Model.sumRow.ContainsKey(colName))
                    {
                        <td>@Model.sumRow[colName]</td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
            </tr>
        }
    </tbody>
</table>




