<!DOCTYPE html>
<html>
<head>
    <title>修改密码</title>
    @*字体库*@
    <link href="@Url.Content("~/content/fontawesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />

    @*jquery*@
    <script type="text/javascript" src=@Url.Content("~/Content/scripts/jquery-1.12.4.min.js")></script>
    @*easyUI*@
    <link href="@Url.Content("~/content/easyui/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/easyui/bootstrap/easyui.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/content/easyui/jquery.easyui.js")"></script>
    @*layui*@
    <link href="@Url.Content("~/content/layui/css/layui.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/content/layui/layui.js")"></script>
    @*chosen*@
    <link href="@Url.Content("~/content/chosen/chosen.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/content/chosen/jquery.chosen.js")"></script>
    @*jquery.validate*@
    <script type="text/javascript" src=@Url.Content("~/Content/scripts/jquery.validate-vsdoc.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Content/scripts/jquery.validate.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Content/scripts/jquery.validate.message.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Content/scripts/jquery.validate.unobtrusive.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Content/scripts/jquery.metadata.js")></script>
    @*jquery库*@
    <script type="text/javascript" src="@Url.Content("~/content/scripts/jquery.ajaxfileupload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/scripts/jquery.tableInput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/my97DatePicker/WdatePicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/scripts/jquery.form.js")"></script>

    @*自己的样式代码*@
    <link href="@Url.Content("~/content/fontawesome/css/rui.button.css"+rui.configHelper.ctxKey)" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/css/rui.layout.css"+rui.configHelper.ctxKey)" rel="stylesheet" type="text/css" />

    @*自己封装的js*@
    <script type="text/javascript" src=@Url.Content("~/content/scripts/rui.tools.js"+rui.configHelper.ctxKey)></script>
    <script type="text/javascript" src=@Url.Content("~/content/fontawesome/rui.button.js"+rui.configHelper.ctxKey)></script>
    <script type="text/javascript" src=@Url.Content("~/content/scripts/rui.modelDialog.js"+rui.configHelper.ctxKey)></script>
    <script type="text/javascript" src=@Url.Content("~/content/scripts/rui.dropDownList.js"+rui.configHelper.ctxKey)></script>
    <script type="text/javascript" src=@Url.Content("~/content/scripts/rui.bill.js"+rui.configHelper.ctxKey)></script>
    <script type="text/javascript" src=@Url.Content("~/content/scripts/rui.cbxMulSelected.js"+rui.configHelper.ctxKey)></script>
    <script type="text/javascript" src=@Url.Content("~/content/scripts/rui.table_rui.js"+rui.configHelper.ctxKey)></script>
    <script type="text/javascript" src=@Url.Content("~/content/scripts/rui.table_lay.js"+rui.configHelper.ctxKey)></script>
    <script type="text/javascript" src=@Url.Content("~/content/scripts/rui.table.js"+rui.configHelper.ctxKey)></script>
    <script type="text/javascript" src=@Url.Content("~/content/scripts/rui.pager.js"+rui.configHelper.ctxKey)></script>
    <script type="text/javascript" src=@Url.Content("~/content/scripts/rui.layout.js"+rui.configHelper.ctxKey)></script>

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            margin: 50px auto;
            width: 300px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="password"] {
            width: 100%;
            padding: 8px;
        }

        .error-message {
            color: red;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>修改密码</h2>
        <div class="form-group">
            <label for="currentPassword">原密码</label>
            <input type="password" id="currentPassword" />
        </div>
        <div class="form-group">
            <label for="newPassword">新密码</label>
            <input type="password" id="newPassword" />
        </div>
        <div class="form-group">
            <label for="confirmPassword">确认新密码</label>
            <input type="password" id="confirmPassword" />
            <span id="passwordError" class="error-message"></span>
        </div>
        <button style="width:120px;height:40px;" onclick="changePassword()">提交</button>
    </div>

    <script>
        function changePassword() {
            var currentPassword = document.getElementById("currentPassword").value;
            var newPassword = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            var passwordError = document.getElementById("passwordError");

            if (currentPassword === "") {
                passwordError.innerText = "请输入原密码";
                return;
            }

            if (newPassword === "") {
                passwordError.innerText = "请输入新密码";
                return;
            }

            if (confirmPassword === "") {
                passwordError.innerText = "请确认新密码";
                return;
            }

            if (newPassword !== confirmPassword) {
                passwordError.innerText = "新密码和确认密码不一致";
                return;
            }

            if (newPassword === currentPassword) {
                passwordError.innerText = "新密码和旧密码不能一样";
                return;
            }




            ajaxPost("recAmendPassword", { originPassword: currentPassword, confirmPassword: confirmPassword, userID:"@ViewBag.userID"}, function (data) {
                if (data.result == "True") {
                    showInfo("修改成功，5秒后关闭");
                    setTimeout(function () {
                        window.close();
                    }, 5000); // 5000 毫秒等于 5 秒
                }
                else {
                    showInfo("原密码输入错误");
                }
            });
        }
    </script>
</body>
</html>